	<h1>Staff一覧</h1>
<table class="table table-hover">
		<tr>
			<th>Image</th>
			<th>Staff</th>
			<th>Introduction</th>
		</tr>
		<% @staffs.each do |staff| %>
			<tr>
				<td><%= attachment_image_tag staff, :image, :fill, 50, 50, format: 'jpeg' %></td>
				<td><%= staff.name %></td>
				<td><%= staff.introduction %></td>
			</tr>
		<% end %>
</table>