// Place all the styles related to the gochies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color{
  color:#e60000;
}
.main-visual{
  width: 100%;
  height: 450px;
  background-image:url('top.jpg');
  background-size: cover;
  background-position:center 30%;
}
.main-content h1{
  text-align: center;
  padding: 10px 0;
}

.search_div{
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding-top: 100px;
  h1{
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
  }
}
.search_text{
width: 400px;
}
.kenskaubtn{
  margin-top: 20px;
}
