// Place all the styles related to the gochies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color{
  color:#e60000;
}
.main-visual{
  width: 100%;
  height: 450px;
  background-image:url('top.jpg');
  background-size: cover;
  background-position:center 30%;
}

.main-content{
  width: 960px;
  margin: 0 auto;
  background-color: #e60000;
  height: 500px;
}
