// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-store-visual{
  width: 100%;
  height: 450px;
  background-image:url('main-store-image.jpg');
  background-size: cover;
  background-position:center 30%;
}

.store-visual {
	width: 1000px;
	height: 600px;
	
}