<h1>Thanks#complete</h1>
<p>Find me in app/views/thanks/complete.html.erb</p>
<div class="ui three buttons">
  <button class="ui active button">One</button>
  <button class="ui button">Two</button>
  <button class="ui button">Three</button>
</div>
